
html, body{
    margin: 0;
    height: 100%;
    font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
    background-color: #161616;
    color: white;
}

.main-header{
    position: relative;
}
.header-img{
    background: url("../images/fundo.jpg");
    background-size: 100% 100%;
}
.header-nav{
    position: absolute;
    background-color: lightgrey;
    top: 0;
    right: 0;
    left: 0;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    max-width: 90%;
}
.header-nav-ul{
    margin-left: 4%;
    padding: 0;
}
.header-nav-ul-item{
    display: inline-block;
    padding: 15px;
}
.header-nav-ul-link{
    text-decoration: none;
    color: #3b3b3b;
}
.header-nav-ul-link:hover{
    color: #0a4d74;
}

.my-footer{
    position: relative;
    padding: 10px;
}

.my-footer div{
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.footer-section{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    min-width: 230px;
}
.footer-section h1, p{
    margin-left: 30px;
}

